/* Introduction */
.introduction {
    padding: 0 20px;
}

.introduction h2 {
    font-size: 3em;
    font-weight: normal;
}


/* Products */
.product-list {
    overflow: hidden;
}

.product-list-item {
    box-sizing: border-box;
    float: left;
    padding: 20px;
    width: 33.3333%;
}

.product-list-item-title {
    text-align: center;
}

.product-list-item-image {
    width: 100%;
}

.product-list-item-button-buy-now,
.product-list-item-button-more-info {
    padding: 10px 25px;
}

.product-list-item-button-buy-now {
    float: left;
}

.product-list-item-button-more-info {
    float: right;
}

/* Testimonials */
.testimonials {
    overflow: hidden;
    margin: 20px 0;
    width: 100%;
}

.testimonials h3 {
    margin-left: 20px;
}

.testimonial {
    box-sizing: border-box;
    float: left;
    padding: 0 20px 20px;
    width: 33.3333%;
}

.testimonial blockquote {
    background-color: #16A5D7;
    border-radius: 10px;
    color: #fff;
    font-size: 0.9375rem;
    margin: 0;
    padding: 12px 15px;
}

.testimonial cite {
    display: block;
    font-size: 0.8125rem;
    text-align: right;
}

.testimonial cite:before {
    content: '- ';
}
