/* Introduction */
.introduction {
    padding: 0 20px;
}


/* Products */
.products {
    overflow: hidden;
}

.product {
    box-sizing: border-box;
    float: left;
    padding: 20px;
    width: 33.3333%;
}


.product-image {
    background-color: #A8D324;
    height: 250px;
    width: 100%;
}

.product-button-buy-now,
.product-button-more-info {
    padding: 10px 25px;
}

.product-button-buy-now {
    float: left;
}

.product-button-more-info {
    float: right;
}

/* Testimonials */
.testimonials {
    overflow: hidden;
    margin: 20px 0;
    width: 100%;
}

.testimonials h3 {
    margin-left: 20px;
}

.testimonial {
    box-sizing: border-box;
    float: left;
    padding: 0 20px 20px;
    width: 33.3333%;
}

.testimonial blockquote {
    background-color: #16A5D7;
    border-radius: 10px;
    color: #fff;
    font-size: 0.9375rem;
    margin: 0;
    padding: 12px 15px;
}

.testimonial cite {
    display: block;
    font-size: 0.8125rem;
    text-align: right;
}

.testimonial cite:before {
    content: '- ';
}
